.head{
    background-color: grey ;
    height: 20vh;
    z-index: 1;
}
.main{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.div{
    width: 15vw;
    height: 100vh;
    z-index: 0;
    background-color: lightgrey;
}
.foot{
    width: 100vw;
    height: 20vh;
    background-color: black;
    position: relative;
    bottom: 0px;
    left: 0px;
}